*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-size: cover;
	background-attachment: fixed;
}

.container{
	position: absolute;
	inset: 0px;
}

.panel{
	display: grid;
	place-items: center;
	position: absolute;
	width: 30%;
	height: 90vmin;
	top: 10px;
	right: 10px;
	bottom: 10px;
}

.panel button{ 
	padding: auto 1vmax;
	width:100%;
	height: 100%;
	font-size: 8vmin;
	font-weight: 900;
	color:white;
	border: 1px solid white;
    background: rgba(255, 255, 255, 0.1);
	background-size: cover;
}

.panel button:nth-child(1n):hover{ 
	background-image: url(../media/pop-it.jpg);
	background-size: cover;
}

.panel button:nth-child(2n):hover{ 
	background-image: url(../media/sea-poster.jpg);
}

.panel button:nth-child(3n):hover{ 
	background: #03e9f4;
	box-shadow: 0 0 5px #03e9f4,
				0 0 25px #03e9f4,
				0 0 50px #03e9f4,
				0 0 200px #03e9f4;
				border: none;	
				text-shadow: 0 0 5px white,
				0 0 25px white,
				0 0 50px white,
				0 0 200px white;
}

.panel button:nth-child(4n):hover{ 
	background-image: url(../media/fire-poster.jpg);
}

.panel button:nth-child(5n):hover{ 
	background-image: url(../media/space.jpg);
}

.wrapper{
	display: none;
}

#myVideo {
	position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

span{
	display:none;
}

.calculator {
	display: flex;
	flex-direction: column;
    flex-wrap: wrap;
	position: relative;
	width: 55vmin;
	height: 70vmin;
	background: rgba(0, 0, 0, 0.9);
	border-radius: 15px;
	box-shadow: 	 10px 10px 10px  rgba(252, 69, 13, 0.8),
	                 -10px -10px 10px  rgba(252, 69, 13, 0.8);
	margin: 12vmin;
}

.numbers {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 20%;
	background: transparent;
}

input {
	display: block;
	font-size: 8vmin;
    width: 9vmin;
	font-weight: 900;
	text-align: center;
	text-shadow: 3px 3px 9px rgba(15, 2, 2, 0.8);
	color: #fc450d;
	background: transparent;
    border: none;
	z-index: 20;
}

 .value {
	width: 100%;
	border: none;
	border-radius: 10px;
    height: 10vmin;
	font-size: 5vmin;
	font-weight: 900;
	background: transparent;
	margin:  5vmin;
	box-shadow:
	inset 10px 10px 10px  rgba(252, 69, 13, 0.8),
	inset -10px -10px 10px  rgb(252, 69, 13);
	color:rgb(252, 69, 13);
}

.btn {
	display: grid;
	place-items: center;
	position: relative;
	background: #111926;
	box-shadow: inset  10px 10px 10px  rgba(0,0,0,0.7);
	border-radius: 50%;
	cursor: pointer;
	width: 25%;
	height: 100%;
	z-index: 15;
}

.btn:hover {
	background: transparent;
	border: 1px solid black;
	box-shadow: 0 0 5px rgba(252, 69, 13),
			0 0 25px rgba(252, 69, 13),
			0 0 50px rgba(252, 69, 13),
			0 0 200px rgba(252, 69, 13);
			box-shadow:	 inset 10 10 5px rgba(252, 69, 13),
			 inset 10 10 25px rgba(252, 69, 13),
			 inset -10 -10 50px rgba(252, 69, 13),
			 inset -10 -10 200px rgba(252, 69, 13);
}

@media  (max-width:479px) and (orientation: portrait){
	.panel{
		display: flex;
		position: absolute;
		top: 0px;
		right: 2vmin;
		left: 2vmin;
		background: transparent;
		width: 90vmin;
		height: 20vmin;
	}
	
	.panel button{ 
		font-size: 3vmin;
		font-weight: 900;
		color:white;
		border: 1px solid white;
		background: rgba(255, 255, 255, 0.1);
		background-size: cover;

	
	}
	.panel button:nth-child(1n){ 
		background-image: url(../media/pop-it.jpg);
		background-size: cover;
	}
	
	.panel button:nth-child(2n){ 
		background-image: url(../media/sea-poster.jpg);
	}
	
	.panel button:nth-child(3n){ 
		background: #03e9f4;
		box-shadow: 0 0 5px #03e9f4,
					0 0 25px #03e9f4,
					0 0 50px #03e9f4,
					0 0 200px #03e9f4;
					border: none;	
	}
	
	.panel button:nth-child(4n){ 
		background-image: url(../media/fire-poster.jpg);
	}
	
	.panel button:nth-child(5n){ 
		background-image: url(../media/space.jpg);
	}
	
	.calculator {
		position: absolute;
		top: 30vmin;
		width: 55vmin;
		height: 70vmin;
		margin:  20vh auto;
}
.container{
display: grid;
place-items: center;
}
}